@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

h1 p{
  margin-bottom: -2%;
  font-size: 240%;
}

h1{
  margin: 10% 0;
  font-size: 500%;
}

h4{
  margin: 13% 0 17% 0;
  font-size: 200%;
}

header{
  text-align: center;
  padding: 1% 10% 20% 10%;
  color: white;
  background: black;
}

.portfolio-img{
  width: 60%;
}

#avatar{
  border-radius: 50%;
  width: 10%;
  margin: -5.5% 35.5% 0 45%;
  border: 2px solid black;
}




.tech-container p{
  margin: 3%;
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  text-align: center;
}

.visit-projects{
  text-align: center;
  margin-bottom: 12%;
  margin-top: 5%;
  
}

#project-container {
  text-align: center;
  margin: 8%;
}


#project-header{
margin: 13% 0 16% 0;
font-size: 548%;
font-weight: bolder;
}

.pr-title{
font-weight: bold;
font-size: 300%;
}

#about-me p{
  margin-bottom: 10%;
}

#about-me{
  text-align: center;
  margin: 10%;
  font-size: 150%;
}

#contact-info{
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

@media screen and (max-width: 480px) {

  .tech-container p{
    font-size: 10%;
    margin: 5%;
  }
  h1 p{
    margin-bottom: 2%;
    font-size: 160%;
  }
  h1{
    margin: 10% 0;
    font-size: 350%;
  }
  h4{
    margin: 20% 0;
    font-size: 100%;
  }
  #project-header{
    margin: 42px 0;
    font-size: 218%;
    }
  .pr-title{
    font-weight: bold;
     font-size: 115%;
      }

    #avatar{
      width: 25%;
      margin: -13% 36.5% 0 38.5%;
    }

    .tech-container p{
      margin: 5%;
      font-size: 10%;
    }
    #project-header{
      margin: 42px 0;
      font-size: 218%;
    }

    #about-me{
      margin: 10%;
      font-size: 80%;
    }

    .visit-projects{
      margin-top: 0%;
    }

    .portfolio-img{
      width: 100%;
    }


}